* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body
{
  width: 100%;
  min-height: 100vh;
  background:linear-gradient(45deg,rgb(255, 0, 85),rgb(250, 212, 0) 50%,rgb(0, 42, 110) 50%,rgb(0, 183, 255));
  display: flex;
  justify-content: center;
  align-items: center;
}


.preloader
{
  height: 100vh;
  width: 100%;
  background-color: #ffffff69;
  backdrop-filter:blur(60px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;
}

.preloader img
{
  height: 300px;
  width: auto;
  animation: animate 2s ease infinite;
}

@keyframes animate 
{
  0%,100%
  {
    transform: translateY(20px);
  }
  50%
  {
    transform: translateY(-20px);
  }
}


.calFrame {
  width: 25vw;
  height: auto;
  border-radius: 10px;
  margin: 5vh auto;
  background-color: rgba(255, 255, 255, 0.26);
  display: flex;
  flex-direction: column;
  padding:10px;
  box-shadow: inset 2px 2px  rgba(228, 228, 228, 0.411);
  backdrop-filter: blur(60px);
}

.status {
  min-height: 50px;
  background-color: #ffffff63;
  color: white;
  margin: 0px 10%;
  font-size: 1.7rem;
  box-shadow: inset 2px 2px  rgba(221, 221, 221, 0.808);
  padding: 8px;
  border-radius: 3px;
}

.calDisplay {
  background-color: rgba(255, 255, 255, 0.746);
  width: 90%;
  height:8vh;
  margin: 2vh auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2.4rem;
  border-radius: 3px;
  padding-right: 4px;
}

.calButtonsFrame {
  margin: 0 20%;
  display: flex;
  flex-wrap: wrap;
}

.calButton {
  font-size: 2rem;
  padding: 15px 10px;
  margin: 7px;
  background-color: rgba(255, 255, 255, 0.267);
  backdrop-filter: blur(50px);
  border-radius: 3px;
  transform: scale(1);
  box-shadow: inset 2px 2px rgb(255, 255, 255);
  transition: 0.1s ease;
}

.calButton:hover,
.clearButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.clearButton {
  padding: 18px;
  margin: 2% auto;
  width: 30%;
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.479);
  box-shadow: inset 2px 2px rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  transition: 0.1s ease;
}

@media (max-width: 1900px) {
  .calFrame {
    width: 25vw;
  }
  .calButtonsFrame {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }

  .calButton {
    width: 5rem;
    text-align: center;
  }
}


@media (max-width: 1700px) {
  .calFrame {
    width: 30vw;
  }
  .calButtonsFrame {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }

  .calButton {
    width: 6rem;
    text-align: center;
  }
}

@media (max-width: 1500px) {
  .calFrame {
    width: 33vw;
  }
  .calButtonsFrame {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }

  .calButton {
    width: 6rem;
    text-align: center;
  }
}

@media (max-width: 1535px) and (min-width: 1500px) {
  .calFrame {
    width: 35vw;
  }
}
@media (max-width: 1395px) and (min-width: 1189px) {
  .calFrame {
    width: 40vw;
  }
}
@media (max-width: 1189px) and (min-width: 1140px) {
  .calFrame {
    width: 47vw;
  }
}

@media (max-width: 1140px) and (min-width: 980px){
  .calFrame {
    width: 50vw;
  }
}

@media (max-width: 980px) and (min-width: 873px){
  .calFrame {
    width: 58vw;
  }
}

@media (max-width: 873px) and (min-width: 800px) {
  .calDisplay
  {
    height: 9vh;
  }
  .calFrame {
    width: 65vw;
  }
}

@media (max-width: 800px) and (min-width: 700px) {
  .calDisplay
  {
    height: 9vh;
  }
  .calFrame {
    width: 70vw;
  }
}

@media (max-width: 700px) and (min-width: 600px){
  .calDisplay
  {
    height: 10vh;
  }
  .calFrame {
    width: 60vw;
  }
  .calButton {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
 
}

@media (max-width: 607px) and (min-width: 500px) {
  .calDisplay
  {
    height: 10vh;
  }
  .calFrame {
    width: 80vw;
  }
  .calButton {
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
  .clearButton
  {
    padding: 8px;
    font-size: 20px;
  }

  .preloader img
  {
    height: 250px;
    width: auto;
  }
}

@media (max-width: 500px) and (min-width: 460px) {
  .calDisplay
  {
    height: 10vh;
  }
  .calFrame {
    width: 80vw;
  }
  .calButton {
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .clearButton
  {
    padding: 7px;
    font-size: 17px;
  }
  .preloader img
  {
    height: 200px;
    width: auto;
  }
}

/* 400 to 461 */
@media (max-width: 460px) and (min-width: 400px) {
  .calDisplay
  {
    height: 10vh;
  }
  .calFrame {
    width: 80vw;
  }
  .calButton {
    width: 3.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .clearButton
  {
    padding: 7px;
    font-size: 17px;
  }
  .preloader img
  {
    height: 200px;
    width: auto;
  }
}
/* 360 to 400 */
@media (max-width: 400px) and (min-width: 360px) {
  .calDisplay
  {
    height: 10vh;
  }
  .calFrame {
    width: 80vw;
  }
  .calButton {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .clearButton
  {
    padding: 7px;
    font-size: 17px;
  }
  .preloader img
  {
    height: 200px;
    width: auto;
  }
}

/* 335 to 360 */
@media (max-width: 360px) and (min-width: 335px) {
  .calDisplay
  {
    height: 8vh;
  }
  .calFrame {
    width: 80vw;
  }
  .calButton {
    width: 2.5rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }
  .clearButton
  {
    padding: 10px;
    font-size: 14px;
  }
  .preloader img
  {
    height: 100px;
    width: auto;
  }
}

/* 300 to 335 */
@media (max-width: 335px) and (min-width: 300px) {
  .calDisplay
  {
    height: 8vh;
  }
  .calFrame {
    width: 80vw;
  }
  .calButton {
    width: 2.5rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }
  .clearButton
  {
    padding: 10px;
    font-size: 14px;
  }
  .preloader img
  {
    height: 100px;
    width: auto;
  }
}
/* 250 to 300 */
@media (max-width: 300px)and (min-width: 280px) {
  .calDisplay
  {
    height: 8vh;
  }
  .calFrame {
    width: 80vw;
  }
  .calButton {
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }
  .clearButton
  {
    padding: 10px;
    font-size: 14px;
  }
  .preloader img
  {
    height: 100px;
    width: auto;
  }
}

/* 250 to 280 */
@media (max-width:280px) and (min-width: 250px) {
  .calFrame {
    width: 100vw;
  }
  .calButton {
    width: 2.5rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }
}

/* 230 to 250 */
@media (max-width: 250px) and (min-width: 230px){
  .calDisplay
  {
    height: 8vh;
    font-size: 25px;
  }
  .calFrame {
    width: 100vw;
  }
  .calButton {
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }
  .clearButton
  {
    padding: 10px;
    font-size: 14px;
  }
  .preloader img 
  {
    height: 100px;
    width: auto;
  }
}

/* 200 to 230 */
@media (max-width: 230px) and (min-width: 200px) {
  .calFrame 
  {
    width: 100vw;
  }
  .calButton {
    width: 1.8rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }
  .clearButton
  {
    padding: 10px;
    font-size: 14px;
  }
  .preloader img 
  {
    height: 100px;
    width: auto;
  }
}
/* 100 to 200 */
@media (max-width: 200px) and (min-width: 100px) {
  .calDisplay
  {
    height: 5vh;
    font-size: 22px;
  }
  
  .calFrame 
  {
    width: 100vw;
  }
  .calButton {
    width: 1.6rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }
  .clearButton
  {
    padding: 7px;
    font-size: 11px;
  }
  .preloader img 
  {
    height: 100px;
    width: auto;
  }
}
